{{ partial "header" . }}

<title>{{ .Title }}, {{.Site.Params.Description}}</title>

<main>
    <div class="intro">
        <!-- <img alt="avatar" src="{{ .Site.Params.profilePic }}" class="profile" style="width: 26rem;height: 26rem"> -->
        <img alt="avatar" src="{{ .Site.Params.profilePic }}" class="profile">

        <!-- {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }} -->
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
</main>

{{ partial "footer" . }}
